.media img {
  height: 100px;
}

.p-t-8 {
    padding-top: 8px !important;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
  cursor: pointer;
}

a{
  transition: 0.5s all;
}


.navbar-pf{
  background-color: #154B65;
  background: #154B65;
  border-top: none;
}

.navbar-pf .navbar-header{
  border-bottom: none;
}

.navbar-pf .navbar-primary{
  background-image: none;
  background-color: #FFFFFF;
  border-bottom: 1px solid #154B65;
}

.navbar-pf .navbar-primary .active a{
  background-image: none;
  border: none;
  background-color: #FFFFFF;
  font-weight: 600;
  color: #154B65;
}

nav .navbar-nav .navbar-primary{
  display: none;
}

.navbar-pf .navbar-utility{
  top: 22px;
  right: 10px;
}

.navbar-pf .navbar-utility li a{
  border-left: none;
  color: #FFFFFF !important;
}

.navbar-pf .navbar-utility li a:hover{
  background-color: #154B65;
  color: #5CB0D2;
}

.card-pf{
  border-top: none;
  box-shadow: 0 1px 5px rgba(1,1,1,.2);
}

.card-pf .card-pf-accented{
  border-top-color: none;
}
.card-pf-title{
  padding: 20px 0 0;
  text-align: center;
  font-weight: 600;
}
